{% extends 'base.html.twig' %}

{% block title %}Detalle de la Categoria{% endblock %}

{% block body %}
    <h2>Detalle de la Categoria</h2>
    <p><strong>Nombre:</strong> {{ category.name }}</p>
    <a class="button" href="{{ path('category_index') }}">Volver</a>
{% endblock %}
