{% extends 'base.html.twig' %}

{% block title %}Nueva Categoría{% endblock %}

{% block body %}
    <h2>Crear Nueva Categoría</h2>
    <form method="post">
        <div class="form-group">
            <label for="name">Nombre de la categoría:</label>
            <input type="text" name="name" id="name" required>
        </div>
        <input type="submit" value="Guardar">
    </form>
    <a class="button" href="{{ path('category_index') }}">Volver</a>
{% endblock %}
