{% extends 'base.html.twig' %}

{% block title %}Inicio - CRUD{% endblock %}

{% block body %}
    <h2>Bienvenido a la Aplicacion CRUD</h2>
    <p>Utiliza el menu de navegacion para gestionar Productos, Categorias y ordenes.</p>
{% endblock %}
