{% extends 'base.html.twig' %}

{% block title %}Inicio - CRUD{% endblock %}

{% block body %}
    <h2>Bienvenido a la Aplicación CRUD</h2>
    <p>Utiliza el menú de navegación para gestionar Productos, Categorías y Órdenes.</p>
{% endblock %}
